*.dat
*elc
*~
.DS_Store
.newsrc-dribble
.nnmail-cache
.python-environments
.smex-items
.svn
/#.newsrc-dribble#
\#*
abbrev_defs
auto-save-list
backups/*
custom.el
elim/
elpa/4clojure*
elpa/request*
image-dired/
loaddefs.el*
oddmuse/*
places
session*
sk-old
swank/*
thumbs/*
tmp/*
tramp
url/
url/cookies
packs/stable/power-pack/*/yasnippet*
